{% extends 'base.html' %}

{% block contenido %}
    <title>Administradores</title>

    <!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">ADMINISTRADORES</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Pagina de tabla de administradores del sitio web</h2>
                <a class="btn btn-primary" href="#about">Aceptar</a>
                <a class="btn btn-primary" href={% url 'home:crearadministradoresapp' %}>Agregar Administradores</a>
                <a class="btn btn-primary" href="#about">Ocultar</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Tabla de Estudiantes</h2>
                
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
    </div>
</section>
    
    <table class="table">
        <tr>
            <td class="col-2 themed-grid-col">Id</td>
            <td class="col-4 themed-grid-col">Nombre</td>
            <td class="col-4 themed-grid-col">Apellido</td>
            <td class="col-3 themed-grid-col">Telefono</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Jake</td>
            <td>Peralta</td>
            <td>89482745</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Amy</td>
            <td>Santiago</td>
            <td>23493784</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Axl</td>
            <td>Rose</td>
            <td>29018371</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Raymond</td>
            <td>Holt</td>
            <td>91290192</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Freddie</td>
            <td>Merury</td>
            <td>10919238</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Jon</td>
            <td>Bon Jovi</td>
            <td>10932030</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Walter</td>
            <td>White</td>
            <td>29090348</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Jesse</td>
            <td>Pinkman</td>
            <td>13893847</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Marie</td>
            <td>Schrader</td>
            <td>99391837</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Gustavo</td>
            <td>Fring</td>
            <td>87737443</td>
        </tr>
    </table>

{% endblock %}